* {
  box-sizing: 0;
  margin: 0;
}

/*BIBLIOGRAFÃA (RECURSOS Y TUTORIALES LLEVADOS A CABO PARA COMPLETAR ESTE PROYECTO)
https://www.youtube.com/watch?v=5yl75eM0Y4A*/

/*GLOBALS*/

@font-face {
  font-family: SfPro;
  src: url(./fonts/sf-pro-display/SFPRODISPLAYREGULAR.OTF);
}

/*KeyFrames*/

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(1);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

body {
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-position: center;
  font-family: SfPro;
}

/*header styles*/

.main_header {
  width: 100%;
  height: auto;
  padding: 2rem;
}
.main_header .container_header {
  justify-content: space-evenly;
  align-items: center;
  display: flex;
}

.main_header .container_header .navegation_header {
  color: white;
}

.main_header .container_header .navegation_header a {
  position: relative;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.main_header .container_header .logo {
  width: 2.5rem;
  height: 2.5rem;
  color: white;
}

.main-section .container_header .logo img {
  width: 100%;
}
/*Button styles (header)*/

.login_header > button {
  margin: 0.5rem;
  font-family: SfPro;
}

.login_header .btn {
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 5px;
  border: none;
  justify-content: flex-end;
}

.login_header .logIn {
  background-color: black;
  color: white;
}
.login_header .singUp {
  background-color: white;
  color: black;
}

.login_header .logIn:hover {
  background-color: rgba(255, 255, 255, 0.999);
  color: black;
  transition: linear 0.3s;
}

/*main-section styles*/
.main-section {
  color: white;
  width: 100%;
  height: auto;
  display: block;
}

.main-section .container_main {
  justify-content: center;
  align-items: center;
  display: block;
}

/*BOTONES LATERALES REDES SOCIALES*/

.SocialNet {
  width: auto;
  height: auto;
  margin: auto;
  display: flex;
  justify-content: center;
}

.SocialNet .social {
  width: 2.5rem;
  height: 3rem;
  padding: 4rem;
}

.SocialNet .social img {
  width: 100%;
  filter: invert(40%);
}

.SocialNet .social img:hover {
  filter: invert(100%);
  transition: ease 0.9s;
}
/*ESTILOS DE TEXTO*/

.main-text {
  width: 50%;
  text-align: center;
  margin: auto;
  font-size: 40px;
  padding: 5em;
}
